<html>
<head>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

     <!-- Optional theme -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

     <!-- Latest compiled and minified JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container">
     <div class="header">
          <ul class="nav nav-pills pull-right">
               <li{% if tab_highlight == 1 %} class="active" {% endif %}>
                    <a href="/">Home</a>
               </li>
               <li{% if tab_highlight == 2 %} class="active" {% endif %}>
                    <a href="/about">About Us</a>
               </li>
          </ul>
     </div>
     <!-- End Header -->

     {% block bodycontent %}
     {% endblock %}

     <div class="footer" style="position:fixed; padding:5px; bottom:0px; left:0px; font-size:9;">
          <p>Made at MHacks! &copy; weRgu</p>
     </div>
     <!-- End Footer -->
</div>
<!-- End Container -->
</body>
</html>
