h1{
    font-family:Georgia;
}

p{
    font-family:Georgia;
}

body{
    background-color:#333;
    color:white;
}

.shadow {
   -moz-box-shadow:    inset 0 0 100px #000000;
   -webkit-box-shadow: inset 0 0 100px #000000;
   box-shadow:         inset 0 0 100px #000000;
}

div.transbox{
    /*opacity: 0.4;*/
    background: #454545;
    /*border: 1px solid #00E6B8;*/
    padding-left:20px;
    position:absolute;
    left:0;
    right:0;
}

div.transbox p{
    margin: 2%;
    font-size:18;
}

.banner{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    font-size: 30;
    text-align: left;
    background-color:297A4A;
    position:absolute;
    left:0;
    right:0;
}

div.banner p{
    margin 2%;
    font-size:22;
    color:9CD7B4;
}

.circle
{
    width:500px;
    height:500px;
    border-radius:50%;
    font-size:50px;
    color:#fff;
    line-height:500px;
    text-align:center;
    background:#CF3E3A;
   /* border: solid #6A6C69 5px;*/

    -webkit-filter: blur(15px);
    filter: blur(15px);
}

.innertext{
    font-size:36;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.col-lg-6{
    margin:0 auto;
    top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}