{% extends "base.html" %}
{% block bodycontent %}

<head>
    <title> About weRgu </title>
     <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/stylesheet.css')}}">
</head>

<br>
<br>
<br>
<body class="shadow">

    <div class="banner">
        <h1 style="font-size:48">About</h1>
        <p>Learn about our mission and how to use weRgu</p>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <div class="transbox">
        <h1 style="color: white;">Mission</h1>
        <p style="color: rgba(255, 255, 255, 0.4);"> weRgu provides a centralized hub for debate on trending issues. I will hopefully grow up to be a longer paragraph one day,
        which will make me look significantly cooler. I like liquid chocolate, elven-forged longswords, light sabers, and soft things.</p>

        <h1>How to use weRgu</h1>
        <p style="color: rgba(255, 255, 255, 0.4);"> weRgu provides a centralized hub for debate on trending issues. I will hopefully grow up to be a longer paragraph one day,
        which will make me look significantly cooler. I like liquid chocolate, elven-forged longswords, light sabers, and soft things.</p>
    </div>
</body>

<br>
<br>

{% endblock %}
