{% extends "base.html" %}
{% block bodycontent %}

     <head>
          <!-- Speech Bubbles -->
          <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bubbles.css') }}">
          <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
     </head>

     <br>
     <br>


     <h1 align="center" style="color: #0084B4;">#{{ issue_title }}</h1>

     <br>

     <div class="progress" align="center">

          <div class="progress-bar progress-bar-success"

               style="width: {{ (pro_list|length /(con_list|length + pro_list|length))*100.0 }}%">
               {{ 100.0*(pro_list|length/(con_list|length + pro_list|length)) | round(1) }}%
          </div>
          <div class="progress-bar progress-bar-danger"
               style="width: {{ (con_list|length /(con_list|length + pro_list|length))*100.0 }}%">
               {{ 100.0*(con_list|length /(con_list|length + pro_list|length)) | round(1) }}%
          </div>

     </div>

     <div>
          <div class="row">

               <div class="col-md-4" style="background-color:#5CB85C">
                    <h2 align="left" style="color: #BFD7A3;">Pro</h2>
                    <ul class="list-group">
                         {% for tweet in pro_list %}
                              <li class="list-group-item"><p class="triangle-isosceles left">{{ tweet }}</p></li>
                         {% endfor %}
                    </ul>
               </div>

               <div class="col-md-4">

                    <div id='messagesDiv' style="font-family: 'Poiret One', cursive; padding-left: 18px"></div>
                    <div class="container" align="center">
                         <div class="messages">

                              <form class="pure-form" style="color: black;">
                                   <fieldset align="center" class="pure-group">
                                        <input id="nameInput" type="text" class="pure-input-1-4" placeholder="Name"
                                               style="font-family: 'Poiret One', cursive;">
                                        <textarea id="messageInput" type="text" class="pure-input-1-4"
                                                  placeholder="Comment"
                                                  style="font-family: 'Poiret One', cursive;"></textarea>
                                   </fieldset>

                                   <div style="margin:0;" class="pure-g">
                                        <button id="pro-button" type="submit"
                                                style="background-color: #BFD7A3; font-family: 'Poiret One', cursive;"
                                                class="pure-button pure-input-2-6 pure-button-primary">Pro
                                        </button>
                                        <button id="con-button" type="submit"
                                                style="background-color: #FF765F; font-family: 'Poiret One', cursive;"
                                                class="pure-button pure-input-2-6 pure-button-primary">Con
                                        </button>
                                   </div>
                              </form>

                              <script>
                                   var myDataRef = new Firebase('https://wergu.firebaseio.com/');

                                   function sendMessage(direction) {
                                     var name = $('#nameInput').val();
                                     var text = $('#messageInput').val();
                                     myDataRef.push({name: name, text: text, direction: direction});
                                     $('#messageInput').val('');
                                   }

                                   $("#pro-button").click(sendMessage.bind(null, 'pro'));
                                   $("#con-button").click(function () {
                                     sendMessage('con');
                                   });

                                   myDataRef.on('child_added', function (snapshot)
                                   {
                                        var message = snapshot.val();
                                        displayChatMessage(message.name, message.text, message.direction);
                                   });

                                   function displayChatMessage(name, text, direction)
                                   {
                                        var div = $('<div/>').text(text).prepend($('<em/>').text(name + ': ')).appendTo($('#messagesDiv'));
                                        div.addClass(direction);
                                        $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
                                   }
                                   ;
                              </script>
                             <style>
                                 .con {color: red;}
                                 .pro {color: green;}
                             </style>
                         </div>
                    </div>

                    <br>
                    <br>


               </div>

               <div class="col-md-4" style="background-color:#CF3E3A">
                    <h2 align="right" style="color: #FF765F">Con</h2>
                    <ul class="list-group">
                         {% for tweet in con_list %}
                              <li class="list-group-item"><p class="triangle-isosceles right">{{ tweet }}</p></li>
                         {% endfor %}
                    </ul>
               </div>
          </div>
     </div>



{% endblock %}